.authorize-link {
  padding: 10px 30px;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic_dark_blue;

  background-color: $basic_yellow;
  border-radius: 25px;

  @media (max-width: $mobile-width-only) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &--short {
    line-height: 20px;

    @media (max-width: $mobile-width-only) {
      letter-spacing: 2px;
    }

    @media (min-width: $tablet-width) {
      padding: 15px 30px;
    }

    @media (min-width: $tablet-width) and (max-width: 1439px) {
      .main-nav--opened &,
      .main-nav--nojs & {
        font-weight: 400;
        letter-spacing: 0.03em;
      }
    }
  }

  &:hover,
  &:focus {
    background-color: $special_yellow_dark;
    outline: none;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);
  }
}
