.business {
  // display: none;
  width: 270px;

  font-weight: 300;
  line-height: 16px; // не по макету, т.к. в макете текст dt, dd одним блоком
  color: $special_grey;

  background-color: $basic_white;

  @media (min-width: $tablet-width) {
    width: 690px;
  }

  @media (min-width: $desktop-width) {
    width: 750px;
  }
}

.business__wrapper {
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.business__title {
  text-align: center;
}

.business__list {
  @include reset-list;
}

.business__item {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.business__price {
  @include reset-text;
}

.business__button-close {
  font-weight: 700;
  line-height: 24px;
  color: $basic_blue;

  background-color: #f3f4f8;

  border: none;
}
