.business {
  padding: 35px 50px 0;

  font-weight: 300;
  line-height: 16px; // не по макету, т.к. в макете текст dt, dd одним блоком
  color: $special_grey;

  background-color: $basic_white;

  // box-shadow: 0px 2px 8px rgba(29, 46, 91, 0.14);
  // border-radius: 20px;
}

.business__list {
  @include reset-list;
}

.business__price {
  @include reset-text;
}

.business__button-close {
  font-weight: 700;
  line-height: 24px;
  color: $basic_blue;

  background-color: #f3f4f8;

  border: none;
}
