.button-catalog {
  display: block;
  padding: 15px;

  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  color: $basic_dark_blue;
  text-transform: uppercase;
  text-align: center;

  background-color: $basic_yellow;
  border-radius: 25px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 15px 20px;
    min-width: 150px;
    box-sizing: border-box;

    font-size: 20px;
  }

  &:hover,
  &:focus {
    background-color: $special_yellow_dark;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);
  }

  &--filter {
    background-color: $basic_white;
  }

  &--filter:hover,
  &--filter:focus {
    background-color: $basic_white;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.14));
  }

  &--filter:active {
    color: rgba(22, 28, 53, 0.3);

    background-color: #f3c72b;
  }
}
