.calendar {
  table-layout: fixed;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_grey;

  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.calendar__body {
  border: 1px solid #d6d9e6;
}

.calendar__header {
  padding-bottom: 8px;

  font-weight: 400;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
    padding-left: 15px;

    text-align: left;
  }

  &--weekend{
    color: #ff5c23;
  }
}

.calendar__day {
  &--long {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &--short {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.calendar__data-cell {
  text-align: center;

  border: 1px solid #d6d9e6;
  background-color: $basic_blue_light;

  &--disabled {
    background-color: $basic_white;
  }

  &--selected {
    background-color: $basic_blue;
  }

  // &:not(.calendar__data-cell--disabled):hover,
  // &:not(.calendar__data-cell--disabled):focus {
  //   background-color: $basic_blue;
  //   outline: 2px solid #ff5c23;
  //   outline-offset: -1px;
  // }
  &:not(.calendar__data-cell--disabled):active {
    background-color: $basic_blue;
  }
}

.calendar__data {
  @include reset-button;

  width: 100%;
  padding: 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $basic_blue;

  background-color: $basic_blue_light;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 25px;
    padding-bottom: 23px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 38px;

    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;

    &--1march::after {
      content: "мар";
      position: absolute;
      left: 30px;
    }

    &--1april::after {
      content: "апр";
      position: absolute;
      left: 30px;
    }

    &--arrival::after {
      content: "Заезд";
      position: absolute;
      bottom: 12px;
      left: 15px;
    }

    &--depature::after {
      content: "Выезд";
      position: absolute;
      bottom: 12px;
      left: 15px;
    }
  }

  &:disabled {
    font-weight: 400;
    color: $special_grey;

    background-color: transparent;

    opacity: 0.3;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 18px;
    }

    @media (min-width: $desktop-width) {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
    }
  }

  &--selected {
    font-weight: 500;
    color: $basic_white;

    background-color: $basic_blue;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
    }
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: $basic_white;

    background-color: $basic_blue;
    outline: 2px solid #ff5c23;
    outline-offset: -1px;
  }

  &:not(:disabled):active {
    color: $basic_white;

    background-color: $basic_blue;
    outline: none;
  }
}
