.catalog__list {
  @include reset-list;

  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.catalog__item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.catalog__link {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $basic_blue;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
    margin-bottom: 70px;
  }
}
