.catalog__list {
  @include reset-list;

  // margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.catalog__item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.catalog__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $basic_blue;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
    margin-bottom: 75px;
    max-width: 950px;
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }

  & svg {
    margin-right: 15px;

    fill: $basic_blue;

    @media (min-width: $tablet-width) {
      margin-right: 25px;
      width: 26px;
      height: 26px;
    }
  }

  &:hover svg,
  &:focus svg {
    fill-opacity: 0.6;
  }

  &:active svg {
    fill-opacity: 0.3;
  }
}

.catalog__pagination {
  margin-bottom: 70px;

  @media (min-width: $desktop-width) {
    max-width: 950px;
    box-sizing: border-box;
    margin-bottom: 70px;
  }
}
