.container {
  min-width: 320px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
  }

  &--form {
    @media (min-width: $tablet-width) and (max-width: 1439px) {
      width: 768px;
      padding-left: 75px;
      padding-right: 75px;
    }
  }
}
