.country {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.country__image-wrapper {
  min-height: 110px;

  overflow: hidden;

  @include top-left;
  @include top-right;

  @media (min-width: $tablet-width) {
    position: relative;
    left: -350px;
    z-index: 0;

    margin-right: -350px;
    order: 1;
    min-height: 140px;

    border-top-left-radius: 0;

    @include bottom-right;
  }
}

.country__img {
  display: block;
  width: 100%;

  object-fit: contain;

  @include top-left;
  @include top-right;

  @media (min-width: $tablet-width) {
    height: 140px;

    border-top-left-radius: 0;

    @include bottom-right;
  }
}

.country__info {
  position: relative;
  padding: 24px;

  background-color: $basic_white;

  @include all-border;

  @media (max-width: $mobile-width-only) {
    top: -10px;

    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
  }

  & br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .country:last-child & {
    padding-bottom: 5px;
  }

  @media (min-width: $tablet-width) {
    min-width: 430px;
    padding: 30px;
    padding-bottom: 15px;
    box-sizing: border-box;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 375px;
    padding-top: 24px;
  }

  &::before {
    position: absolute;
    top: -12px;
    left: 25px;

    content: "";
    width: 35px;
    height: 24px;

    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: $tablet-width) {
      top: 15px;
      right: -35px;
      left: auto;

      width: 70px;
      height: 47px;
    }

    @media (min-width: $desktop-width) {
      top: 23px;
    }
  }

  &--thailand::before {
    background-image: url("../img/flag-thailand.svg");
  }

  &--france::before {
    background-image: url("../img/flag-france.svg");
  }

  &--czech::before {
    z-index: 1;

    background-image: url("../img/flag-czech.svg");
  }
}

.country__description {
  @include reset-list;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.country__title {
  word-break: break-word;

  font-weight: 700;
  font-size: 21px;
  line-height: 1;
  color: $basic_black;

  @include reset-text;

  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.country__text {
  font-weight: 500;
  line-height: 18px;
  color: $special_grey;

  opacity: 0.3;

  @include reset-text;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.country__counter {
  @include reset-text;

  position: relative;
  padding-left: 18px;

  font-weight: 500;
  line-height: 20px;
  color: $basic_dark_blue;

  opacity: 0.3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 30px;
  }

  &::before {
    position: absolute;
    top: 5px;
    left: 0;

    content: "";
    width: 11px;
    height: 12px;

    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../img/user.svg");

    opacity: 0.3;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 20px;
    }
  }
}
