.country-filter {
  padding-top: 35px;
  padding-bottom: 5px;

  background-color: #e2e5f2;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 115px;
    padding-bottom: 60px;

    border-bottom-right-radius: 55px;
    border-bottom-left-radius: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
    padding-bottom: 60px;
  }

  &--opened {
    border-radius: 0;

    @media (min-width: $desktop-width) {
      background-color: $basic_blue_light;
    }
  }

  &--closed {
    @media (min-width: $desktop-width) {
      padding-top: 130px;
      padding-bottom: 60px;
    }
  }
}

.country-filter__wrapper {
  position: relative;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    padding-right: 35px;
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    // padding-right: 65px;
    // padding-left: 10px;
  }
}

.country-filter__heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 65px;
  }
}

.country-filter__heading {
  @include reset-text;

  display: inline-block;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark_blue;

  @media (min-width: $tablet-width) and (max-width: 1439px) { // visually-hidden
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    display: block;

    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  & svg {
    margin-right: 7px;

    @media (min-width: $desktop-width) {
      width: 23px;
      height: 15px;
      margin-right: 10px;
    }
  }
}

.country-filter__toggle {
  @include reset-button;

  display: inline-flex;
  width: 40px;
  height: 40px;

  background-image: url("../img/dots.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 17px 3px;

  @media (min-width: $tablet-width) {
    width: auto;
    min-width: 170px;
    height: auto;
    padding-right: 50px;
    box-sizing: border-box;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: $dark_blue;

    background-size: 30px 6px;
    background-position: right center;
  }

  .country-filter--opened & {
    background-image: url("../img/filter-close.svg");
    background-size: 14px 14px;

    @media (min-width: $tablet-width) {
      background-size: 22px 24px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.country-filter__toggle-text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  &--hide {
    display: none;
  }

  .country-filter--opened &--hide {
    @media (min-width: $tablet-width) {
      display: inline-block;
    }
  }

  .country-filter--opened &--show {
    display: none;
  }
}

.country-filter__dropdown {
  display: none;

  .country-filter--opened & {
    @media (max-width: 1439px) {
      position: absolute;
      left: 50%;

      margin-left: calc(-1 * 50vw);
      width: 100vw;
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: auto;
  }
}
