.countries-dropdown {
  font-size: 16px;
  line-height: 22px;
  color: $special_grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.countries-dropdown__group-list {
  @include reset-list;
}

.countries-dropdown__group-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.countries-dropdown__group-link {
  color: $dark_blue;
  opacity: 0.3;

  &:active,
  &--active {
    opacity: 1;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.countries-dropdown__button-close {
  @include reset-button;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $dark_blue;

  background-color: #d6daed;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    letter-spacing: normal;
  }
}
