.countries-dropdown {
  padding-top: 21px;
  padding-bottom: 25px;

  font-size: 16px;
  line-height: 22px;
  color: $special_grey;

  background-color: #e2e5f2;

  @include rounded-bottom;

  @media (min-width: $tablet-width) {
    padding: 0;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic_blue_light;
  }

  .country-filter--opened & {
    @media (min-width: $tablet-width) {
      padding-top: 60px;
      padding-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 75px;
      padding-bottom: 95px;
    }
  }
}

.countries-dropdown__container {
  @media (max-width: $mobile-width-only) {
    min-width: 320px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    width: 720px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.countries-dropdown__group-list {
  @include reset-list;

  margin-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    column-gap: 28px;
    padding-left: 34px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    left: 50%;

    margin-left: -317px;
    padding: 0;
    column-gap: 28px;
  }

  .country-filter--opened & {
    @media (min-width: $tablet-width) {
      top: -20px;
      left: 50%;
      margin-left: -340px;
      padding-left: 30px;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      left: 50%;

      margin-left: -317px;
      padding: 0;
      column-gap: 28px;
    }
  }
}

.countries-dropdown__group-item {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:last-child {
    margin: 0;
  }
}

.countries-dropdown__group-link {
  color: $dark_blue;
  opacity: 0.3;

  &:active,
  &--active {
    opacity: 1;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.countries-dropdown__alphabet-sort {
  padding-right: 25px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    display: none;

    .country-filter--opened & {
      display: flex;
      padding: 0;
      justify-content: space-between;
    }
  }
}

.countries-dropdown__button-close {
  @include reset-button;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 15px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $dark_blue;

  background-color: #d6daed;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    display: none;

    font-size: 20px;
    letter-spacing: normal;

    .country-filter--opened & {
      display: flex;
      max-width: 615px;
      padding: 40px;
      padding-top: 37px;
      margin-top: 45px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: $desktop-width) {
    .country-filter--opened & {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  & svg {
    margin-right: 10px;

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 24px;
      margin-right: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 15px;
    }
  }

  &:hover,
  &:focus {
    background-color: #c8cee8;
    outline: none;
  }

  &:active {
    color: rgba(25, 33, 68, 0.3);

    background-color: #c8cee8;
  }
}
