.countries__item {
  padding-left: 55px;

  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: $basic_blue;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
