.description-text {
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }

  &--emphasis {
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      line-height: 24px;
    }
  }
}
