.directions {
  position: relative;
  z-index: 5;

  @include shift(-30px);

  color: $special_grey;

  background-color: $basic_blue_light;

  @include rounded-bottom;

  @media (min-width: $tablet-width) {
    @include shift(-75px);
  }

  @media (min-width: $desktop-width) {
    @include shift(-90px);
  }
}

.directions__wrapper {
  padding-top: 100px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 145px;
    padding-bottom: 80px;

    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-size: 289px 575px;
    background-position: calc(100% - 40px) 155px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 251px;
    padding-bottom: 135px;

    background-position: calc(100% - 60px) 180px;

    @include desktop-grid;
    grid-template-rows: min-content min-content min-content;
  }
}

.directions__text-wrapper {
  width: 215px;
  padding-left: 25px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    width: 380px;
    padding-left: 35px;
    padding-bottom: 105px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-bottom: 100px;
    grid-column: 3/5;
    grid-row: 1/2;
  }
}

.directions__title {
  @include reset-text;

  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.directions__text {
  @include reset-text;
}

.directions__list {
  position: relative;

  @include reset-list;

  @media (min-width: $tablet-width) {
    width: 615px;
    padding-left: 35px;
    padding-right: 35px;

    &::before {
      position: absolute;
      top: -40px;
      left: 0;

      content: "";
      width: 141px;
      height: 141px;

      background-color: #e2e5f2;

      @include all-border;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 35px;
      content: "";
      width: 615px;
      height: 94px;
      background-image: url("../img/country-fade-tablet.svg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    padding-left: 70px;
    grid-column: 1/3;
    grid-row: 1/-1;

    &::before {
      top: -70px;
    }

    &::after {
      left: 70px;
      bottom: 11px;

      width: 560px;
      height: 80px;

      background-image: url("../img/country-fade-desktop.svg");
    }
  }
}

.directions__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.directions__link {
  display: inline-flex;
  width: fill-available;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
    margin-right: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 275px;
    box-sizing: border-box;
    margin-left: 110px;
    grid-column: 3/5;
    grid-row: 2/3;
    align-self: start;
  }
}
