.feedback {
  padding-top: 105px;
  padding-bottom: 30px;
}

.feedback__title {
  text-align: center;
}

.feedback__text {
  text-align: center;
}

.feedback__link {
  color: $basic_yellow;

  text-decoration: underline;
}

.feedback__ask {
  text-align: center;
}

.feedback__contacts-list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 110px;
    justify-content: center;
  }
}
