.feedback {
  position: relative;
  z-index: 2;

  @include shift(-35px);

  padding-top: 105px;
  padding-bottom: 30px;

  background-color: $dark_blue;

  @include rounded-bottom;

  @media (min-width: $tablet-width) {
    @include shift(-55px);

    padding-top: 127px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    @include shift(-105px);

    padding-top: 210px;
    padding-bottom: 103px;
  }
}

.feedback__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.feedback__title {
  @include reset-text;

  margin-bottom: 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.feedback__text {
  @include reset-text;

  width: 210px;
  margin: 0 auto;
  margin-bottom: 30px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: 67px;

    font-size: 28px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;

    line-height: 31px;
  }

  & .br {
    display: block;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }

  & .br::before {
    content: "\A";

    @media (min-width: $tablet-width) {
      content: " ";
    }
  }
}

.feedback__link {
  color: $basic_yellow;

  text-decoration: underline;

  &:hover,
  &:focus {
    color: $special_orange;
  }

  &:active {
    color: $special_orange;
    opacity: 0.3;
  }
}

.feedback__form {
  margin-bottom: 30px;


  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.feedback__ask {
  margin-bottom: 17px;

  text-align: center;
  letter-spacing: 0.01em;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    font-size: 28px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }

  & .br {
    display: block;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }

  & .br::before {
    content: "\A";

    @media (min-width: $tablet-width) {
      content: " ";
    }
  }
}

.feedback__contacts-list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 110px;
    justify-content: center;
  }
}
