.info {
  position: relative;
  z-index: 6;

  background-color: $dark_blue;

  @include rounded-bottom;

  @media (min-width: $tablet-width) {
    background-color: #182044;
  }

  @media (min-width: $desktop-width) {
    padding-top: 130px;
    margin-top: -60px;

    background-color: $dark_blue;
  }
}

.info .container {
  position: relative;

  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 20px 0;
  background-size: 292px 352px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/about-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/about-tablet@1x.png");
    background-size: 376px 548px;
    background-position: calc(100% - 8px) 50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/about-desktop@1x.png");
    background-size: 630px 665px;
    background-position: 750px bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 0;
      left: 40px;
      z-index: -1;

      content: "";
      width: calc(100% - 80px);
      height: 212px;

      @include all-border;
      background-color: #141b3b;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      left: 60px;

      width: 212px;
    }
  }
}


.info__wrapper {
  position: relative;
  z-index: 1;

  padding-top: 30px;
  padding-right: 35px;
  padding-bottom: 83px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 300px;
    padding-left: 35px;
    padding-top: 40px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    padding-top: 60px;
    padding-bottom: 160px;
    padding-left: 70px;
  }

  & br:first-of-type {
    display: none;

    @media (max-width: $mobile-width-only) {
      display: inline;
    }
  }

  & br:last-of-type {
    display: none;

    @media (min-width: $tablet-width) and (max-width: 1439px) {
      display: inline;
    }
  }
}

.info__title {
  @include reset-text;

  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.info__text {
  @include reset-text;

  color: $basic_white;

  &:first-of-type {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 45px;

      line-height: 34px;
    }
  }

  &:last-of-type {
    @media (min-width: $tablet-width) and (max-width: 1439px) {
      line-height: 25px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 80px;

      max-width: 425px;
    }
  }
}

.info__link {
  display: inline-flex;
  width: 275px;
  box-sizing: border-box;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
