.login-form {
  display: flex;
}

.login-form__email {
  display: inline-block;
  min-width: 220px;
  width: fill-available;
  box-sizing: border-box;
  padding: 20px 25px;

  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;

  background-color: $basic_white;
  border: none;

  @include top-left;
  @include bottom-left;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    padding: 28px 36px;
  }
}

.login-form__email::placeholder {
  color: $special_grey;

  opacity: 0.3;
}

.login-form__submit {
  @include reset-button;

  position: relative;
  z-index: 1;
  left: -10px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
  min-width: 60px;
  padding: 24px 22px;
  box-sizing: border-box;

  background-color: $basic_yellow;

  @include top-right;
  @include bottom-right;

  @media (min-width: $tablet-width) {
    min-width: 80px;
    padding: 32px 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: auto;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.login-form__button-text {
  display: none;

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $basic_blue;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
