.main-nav {
  position: relative;
  z-index: 3;

  color: $basic_white;

  background-color: $basic_dark_blue;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    background-color: #182044;
  }

  &--inner {
    background-color: #182044;
  }

  &--nojs {
    @media (max-width: 1439px) {
      color: $dark_blue;

      background-color: $basic_white;
    }
  }

  &--opened {
    @media (max-width: 1439px) {
      color: $dark_blue;

      background-color: $basic_white;
    }
  }

  &--sticky {
    position: fixed;
    top: 0;

    width: 100%;

    color: $dark_blue;

    background-color: $basic_white;
  }
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
  min-height: 75px;
  padding-top: 9px;
  padding-bottom: 13px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 8px;
  }

  // .main-nav--nojs & {
  //   position: relative; // for the short-nav positioning on the desktop

  //   padding-bottom: 0;
  //   flex-wrap: wrap;

  //   @media (max-width: $mobile-width-only) {
  //     padding-top: 28px;
  //     padding-bottom: 30px;
  //   }

  //   @media (min-width: $desktop-width) {
  //     flex-wrap: nowrap;
  //   }
  // }

  .main-nav--inner & {
    @media (min-width: $tablet-width) {
      padding-bottom: 50px;
    }
  }

  .main-nav--sticky & {
    @media (min-width: $desktop-width) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .page--form & {
    @media (max-width: $mobile-width-only) {
      min-height: auto;
      padding-top: 0;
      padding-bottom: 23px;
    }
  }

  // .page--form .main-nav--nojs & {
  //   @media (max-width: $mobile-width-only) {
  //     padding-top: 28px;
  //     padding-bottom: 30px;
  //   }
  // }

  .page--catalog & {
    @media (max-width: $mobile-width-only) {
      padding-top: 2px;
      padding-bottom: 21px;
      min-height: auto;
    }
  }

  .main-nav--nojs & {
    position: relative; // for the short-nav positioning on the desktop

    padding-bottom: 0;
    flex-wrap: wrap;

    @media (max-width: $mobile-width-only) {
      padding-top: 28px;
      // padding-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      flex-wrap: nowrap;
    }
  }
}

.main-nav__logo {
  position: relative;

  width: 100px;
  height: 15px;

  color: $basic_white;

  @media (min-width: $tablet-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    min-width: 200px;
    height: 52px;
  }

  .main-nav--opened &,
  .main-nav--nojs & {
    color: $dark_blue;
  }

  .main-nav--opened &::after,
  .main-nav--nojs &::after,
  .main-nav--sticky &::after {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    width: 100px;
    height: 15px;
    background-image: url("../img/logo-mobile-blue@1x.png");
    background-size: 100px 19px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo-mobile-blue@2x.png");
    }

    @media (min-width: $tablet-width) {
      width: 164px;
      height: 42px;
      background-image: url("../img/logo-tablet-blue@1x.png");
      background-size: 164px 42px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/logo-tablet-blue@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .main-nav--sticky &::after {
    @media (min-width: $desktop-width) {
      width: 200px;
      height: 52px;
      background-image: url("../img/logo-desktop-blue@1x.png");
      background-size: 200px 52px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/logo-desktop-blue@2x.png");
      }
    }
  }
}

.main-nav__toggle {
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-left: auto;

  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 25 11' xml:space='preserve' fill='white'%3E%3Cg%3E%3Cpath d='M1.5,3h22C24.3,3,25,2.3,25,1.5S24.3,0,23.5,0h-22C0.7,0,0,0.7,0,1.5S0.7,3,1.5,3z'/%3E%3Cpath d='M23.5,8h-22C0.7,8,0,8.7,0,9.5S0.7,11,1.5,11h22c0.8,0,1.5-0.7,1.5-1.5S24.3,8,23.5,8z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 25px 11px;
  background-position: center;

  cursor: pointer;

  @media (max-width: $mobile-width-only) {
    position: relative;
    right: -11px;
  }

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: 155px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  .main-nav--opened & {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 18' xml:space='preserve' fill='%23cccccc'%3E%3Cpath class='st0' d='M10.3,9l7.4-7.4c0.4-0.4,0.4-0.9,0-1.3s-0.9-0.4-1.3,0L9,7.7L1.6,0.3c-0.4-0.4-0.9-0.4-1.3,0s-0.4,0.9,0,1.3 L7.7,9l-7.4,7.4c-0.4,0.4-0.4,0.9,0,1.3v0c0.4,0.4,0.9,0.4,1.3,0L9,10.3l7.4,7.4c0.4,0.4,0.9,0.4,1.3,0v0c0.4-0.4,0.4-0.9,0-1.3 L10.3,9z'/%3E%3C/svg%3E");
    background-size: 18px 18px;
  }

  .main-nav--sticky & {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 25 11' xml:space='preserve' fill='%23cccccc'%3E%3Cg%3E%3Cpath d='M1.5,3h22C24.3,3,25,2.3,25,1.5S24.3,0,23.5,0h-22C0.7,0,0,0.7,0,1.5S0.7,3,1.5,3z'/%3E%3Cpath d='M23.5,8h-22C0.7,8,0,8.7,0,9.5S0.7,11,1.5,11h22c0.8,0,1.5-0.7,1.5-1.5S24.3,8,23.5,8z'/%3E%3C/g%3E%3C/svg%3E");
  }

  .main-nav--nojs & {
    display: none;
  }

  .page--form & {
    top: 4px;
  }
}

.main-nav__container {
  display: none;
  padding-top: 45px;
  // padding-bottom: 40px;
  padding-bottom: 25px;
  width: fill-available;
  min-width: 270px;

  color: $dark_blue;
  text-align: center;

  background-color: $basic_white;

  @media (min-width: $tablet-width) {
    // width: 578px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    display: block;
    min-width: 400px;
    margin-left: 40px;
    padding: 0;
    padding-left: 105px;

    color: #ffffff;

    // background-color: #161c35;
    background-color: inherit;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;

      content: "";
      width: 60px;
      height: 2px;
      background-color: $basic_white;
    }

    .main-nav--sticky &::before {
      background-color: $dark_blue;
    }
  }

  .main-nav--nojs & {
    display: block;
    padding-top: 75px;

    @media (min-width: $tablet-width) {
      padding-top: 100px;
      padding-left: 55px;
      padding-right: 35px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      padding-left: 105px;
    }
  }

  .main-nav--opened & {
    position: absolute;
    top: 73px;
    left: 0;
    z-index: 2;

    display: block;
    padding-right: 25px;
    padding-left: 25px;

    @media (min-width: $tablet-width) {
      top: 129px;

      padding-top: 50px;
      padding-right: 0;
      padding-left: 0;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      top: 0;
      left: auto;

      margin-left: 40px;
      padding: 0;
      padding-left: 105px;
    }
  }
}

.main-nav__layout {
  .main-nav--opened & {
    @media (min-width: $tablet-width) and (max-width: 1439px) {
      width: 578px;
      margin: 0 auto;
      padding-left: 95px;
      padding-right: 95px;

      text-align: left;
    }
  }
}

.main-nav__site-list,
.main-nav__user-list {
  @include reset-list;

  margin-bottom: 50px;
}

.main-nav__site-list {
  @media (min-width: $tablet-width) {
    margin-bottom: 135px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 33px;
    margin-bottom: 0;
  }
}

.main-nav__user-list {
  @media (min-width: $desktop-width) {
    display: none;
    margin-bottom: 0;
  }
}

.main-nav__contacts {
  @include reset-list;

  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__socials {
  display: flex;
  align-items: center;
  justify-content: center;

  @include reset-list;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__short-nav {
  position: absolute;
  z-index: 0;

  @media (max-width: $mobile-width-only) {
    left: 50%;
    margin-left: calc(-270px / 2);
    bottom: -422px;

    .main-nav--inner & {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: static;
  }

  .main-nav--nojs & {
    @media (min-width: $tablet-width) and (max-width: 1439px) {
      position: absolute;
      top: 40px;
      right: 40px;
    }
  }
}
