.markers__item {
  position: relative;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $basic_black;

  opacity: 0.6;

  @media (min-width: $desktop-width) {
    padding-left: 44px;
    margin-bottom: 20px;
  }

  &--active {
    opacity: 1;
    letter-spacing: 0.11em;
  }

  &::before {
    position: absolute;
    top: calc(50% - 2px);
    left: 0;

    width: 5px;
    height: 5px;
    content: "";

    border-radius: 50%;
    background-color: $basic_blue;
    opacity: 0.6;

    @media (min-width: $tablet-width) {
      width: 6px;
      height: 6px;
    }
  }

  &--active::before {
    opacity: 1;
  }
}
