.markers__item {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $basic_black;

  opacity: 0.6;

  @media (min-width: $desktop-width) {
    padding-left: 35px;
    margin-bottom: 20px;
  }

  &--active {
    opacity: 1;
    letter-spacing: 0.11em;
  }

  .markers--short & {
    color: $basic_blue;
  }
}
