.page-footer {
  position: relative;
  z-index: 2;

  @include shift(-105px);

  line-height: 1;
  color: $special_grey;

  background-color: $basic_white;

  @include rounded-top;

  @media (min-width: $tablet-width) {
    @include shift(-73px);

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    @include shift(-65px);
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 45px;
  }
}

.page-footer__logo {
  width: 96px;

  @media (min-width: $tablet-width) {
    width: 165px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
  }
}

.page-footer__socials-wrapper {
  @media (min-width: $tablet-width) {
    margin-left: -10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -45px;
  }
}

.page-footer__socials {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    padding-top: 35px;
    padding-bottom: 33px;
  }

  @media (min-width: $tablet-width) {
    min-width: 185px;
  }
}

.page-footer__copyright {
  position: relative;

  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width-only) {
    align-self: stretch;
    padding-top: 15px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      content: "";
      width: 270px;
      height: 0;

      border: 1px solid #f2f2f2;
    }
  }

  @media (min-width: $tablet-width) {
    width: 155px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 15px;
  }
}
