.page-main {
  z-index: 1;

  background-color: $basic_dark_blue;

  .page--inner & {
    position: relative;
    z-index: 0;

    @include shift(-25px);

    color: $basic_blue;

    background-color: $basic_blue_light;

    @media (min-width: $tablet-width) {
      @include shift(-55px);
    }
  }
}

.page-main__wrapper {
  @media (min-width: $desktop-width) {
    @include desktop-grid;
  }

  .page--inner & {
    padding-top: 25px;
    padding-bottom: 110px; // because of page footer's shift

    @media (min-width: $tablet-width) {
      padding-top: 55px;
      padding-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.page-main__catalog {
  grid-column: 1/4;
  padding-top: 30px; // might be changed

  @media (min-width: $tablet-width) {
    padding-top: 40px; // might be changed
  }
}

.page-main__promo {
  z-index: 7;

  padding-top: 90px;
  margin-top: -75px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    margin-top: -105px;
  }
}
