.page-main {
  background-color: $basic_dark_blue;
}

.page-main--catalog {
  color: $basic_blue;

  background-color: $basic_blue_light;
}

.page-main__wrapper {
  @media (min-width: $desktop-width) {
    @include desktop-grid;
  }
}

.page-main__catalog {
  grid-column: 1/4;
}

.page-main__promo {
  padding-top: 20px;
}
