.page-header {
  background-color: $basic_dark_blue;

  color: $basic_white;
}

.page-header--inner {
  background-color: #182044;
}

.page-header--inner__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.page-header__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: $basic_white;

  @include reset-text;
}

.page-header__home-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_white;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
