.page-header {
  color: $basic_white;

  background-color: $basic_dark_blue;

  &--inner {
    position: relative;
    z-index: 1;

    @include rounded-bottom;

    background-color: #182044;
  }
}

.page-header--inner .page-header__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 75px;
    padding-right: 35px;
    padding-bottom: 65px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.page-header__title {
  position: relative;

  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: $basic_white;

  @include reset-text;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }

  &::after {
    position: absolute;
    bottom: -12px;
    left: 0;

    content: "";
    width: 100%;
    height: 5px;

    background-color: $special_orange;
    border-radius: 4px;

    @media (min-width: $tablet-width) {
      bottom: -69px;

      height: 8px;
    }
  }
}

.page-header__home-link {
  padding-right: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_white;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
