.plans {
  color: $basic_blue;

  background-color: $special_blue_light;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: $desktop-width) {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.plans__wrapper {
  padding-top: 25px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 115px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 120px;
    padding-left: 65px;
  }
}

.plans__title {
  @include reset-text;

  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.plans__list {
  @include reset-list;
}

.plans__item {
  padding-top: 21px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;

  background-color: $basic_white;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    position: relative;

    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;
    padding-right: 40px;
    padding-bottom: 37px;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &:first-child {
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      margin-bottom: 10px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 15px;
    }
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    &::after {
      position: absolute;
      bottom: 55px;
      left: 0;
      right: 0;

      width: 100%;
      height: 1px;
      content: "";

      background-color: #cbced9;
      opacity: 0.3;
    }
  }
}

.plans__heading-wrapper {
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    align-items: baseline;
    padding-bottom: 0;
  }
}

.plans__number {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 36px;
  }
}

.plans__heading {
  @include reset-text;

  display: inline-block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    order: -1;

    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.plans__text-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}

.plans__text {
  @include reset-text;

  margin-bottom: 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  &:last-of-type {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 20px;

    &:first-of-type {
      letter-spacing: 0.1em;
    }

    &:last-of-type {
      margin-left: auto;
      margin-right: 83px;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-of-type {
      margin-right: auto;
    }

    &:last-of-type {
      margin: 0;
    }
  }
}

.plans__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $basic_black;

  opacity: 0.3;

  @media (min-width: $tablet-width) {
    justify-self: end;

    font-size: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    margin-left: 140px;
    letter-spacing: 0.08em;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
