.profile {
  position: relative;
  z-index: 3;

  @include shift(-50px);

  font-weight: 300;
  line-height: 22px;
  color: $special_grey;

  background-color: #e6e8f1;

  @include rounded-bottom;

  @media (min-width: $tablet-width) {
    @include shift(-60px);

    font-size: 28px;
    line-height: 28px;

    background-color: $basic_blue_light;
  }

  @media (min-width: $desktop-width) {
    @include shift(-70px);
  }
}

.profile__wrapper {
  position: relative;

  padding-top: 90px;
  padding-bottom: 35px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 135px;
    padding-bottom: 80px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 175px;
    padding-right: 70px;
    padding-bottom: 165px;
    padding-left: 70px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 210px;
      right: 0;
      z-index: -1;

      content: "";
      width: 200px;
      height: 285px;

      background-color: #e2e5f2;

      @include all-border;
    }

    @media (min-width: $desktop-width) {
      top: 310px;
      right: 185px;

      width: 445px;
      height: 300px;
    }
  }

  &::after {
    position: absolute;
    top: 90px;
    right: 0;
    z-index: -1;

    content: "";
    width: 100px;
    height: 100px;

    background-image: url("../img/rates@1x.png");
    background-size: 100px 100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rates@2x.png");
    }

    @media (min-width: $tablet-width) {
      top: auto;
      right: 45px;
      bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      right: 79px;
      bottom: 265px;

      width: 198px;
      height: 198px;

      background-size: 198px 198px;
    }
  }
}

.profile__title {
  @include reset-text;

  margin-bottom: 45px;

  @media (max-width: $mobile-width-only) {
    max-width: 107px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 135px;
  }
}

.profile__list {
  @include reset-list;

  width: 200px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 565px;
    margin-bottom: 55px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 815px;
  }
}

.profile__item {
  position: relative;

  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e1e3e9;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &:first-child {
    border-top: 1px solid #e1e3e9;
  }
}

.profile__position {
  &::before {
    position: absolute;
    top: 10px;
    right: -45px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;

    font-size: 16px;
    line-height: 1;
    color: $basic_white;

    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 0;
      left: -90px;

      width: 68px;
      height: 68px;

      font-size: 28px;
    }
  }

  &--first::before {
    content: "1";

    background-color: $special_orange;
  }

  &--second::before {
    content: "2";

    background-color: $special_yellow_dark;
  }

  &--third::before {
    content: "3";

    background-color: $basic_yellow;
  }
}

.profile__price {
  @include reset-text;
}

.profile__link {
  position: relative;
  font-weight: 700;
  line-height: 1;
  color: #132576;

  @media (min-width: $tablet-width) {
    padding-left: 90px;

    font-size: 20px;
  }

  &:hover,
  &:focus {
    color: rgba(19, 37, 118, 0.7);
    outline: none;
  }

  &:active {
    color: rgba(19, 37, 118, 0.3);
  }
}

.profile__icon-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -34px;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;

  border-radius: 50%;
  background-color: #e2e5f2;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
