.promo {
  background-color: $basic_dark_blue;
  background-image:
    url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (max-width: $mobile-width-only) {
    background-position: 80px 221px, center 60px;
    background-size: auto, 320px 420px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    @include rounded-bottom;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 930px;

  @media (min-width: $tablet-width) {
    align-items: center;
    min-height: auto;
    // min-height: 1000px;
    padding-bottom: 95px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    // min-height: 640px;
    padding-top: 90px;
    padding-bottom: 120px;
  }
}

.promo__slogan {
  @include reset-text;

  width: 240px;

  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  text-align: center;

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    margin-bottom: 315px;
  }

  @media (min-width: $tablet-width) {
    width: 400px;
    margin-bottom: 85px;

    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 420px;
    margin-bottom: 100px;
    margin-left: 65px;

    text-align: left;
  }
}

.promo__reviews {
  width: 165px;
  // padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 110px;
  padding-left: 25px;

  background-color: $basic_dark_blue;

  @media (min-width: $tablet-width) {
    align-self: start;
    width: 265px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0;
  }
}

.promo__steps {
  @media (min-width: $tablet-width) {
    padding-top: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}
