.route {
  padding-top: 65px;
  padding-bottom: 35px;

  background-color: $basic_yellow;
}

.route__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;
    column-gap: 125px;
  }
}

.route__address {
  font-style: normal;
  font-weight: 700;
  color: $basic_blue;

  text-transform: uppercase;
}

.route__link {
  display: inline-flex;
  width: fill-available;

  @media (min-width: $desktop-width) {
    width: 325px;
    justify-self: end;

    margin-right: 75px;
  }
}
