.short-nav {
  background-color: transparent;
}

.short-nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include reset-list;

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.short-nav__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_dark_blue;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &--tel,
  &--mail {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    @media (min-width: $tablet-width) and (max-width: 1439px) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      width: 50px;
      height: 50px;
    }
  }

  &--tel {
    background-color: $special_orange;
  }

  &--tel:hover,
  &--tel:focus {
    background-color: $special_orange_dark;
    outline: none;
  }

  &:active svg {
    fill-opacity: 0.3;
  }

  &--mail {
    background-color: $special_yellow_dark;
  }

  &--mail:hover,
  &--mail:focus {
    background-color: $special_orange;
    outline: none;
  }

  & svg {
    fill: $basic_dark_blue;
  }

  &--mail svg {
    width: 16px;
    height: 14px;
  }
}
