.short-nav {
  background-color: transparent;
}

.short-nav__list {
  display: flex;
  align-items: baseline;

  @include reset-list;
}

.short-nav__item {
  display: inline-flex;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_dark_blue;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.short-nav__item--tel,
.short-nav__item--mail {
  @media (min-width: $tablet-width) and (max-width: 1439px) {
    display: none;
  }
}
