.site-list {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: $dark_blue;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.site-list__link {
  position: relative;

  display: inline-flex;
  overflow: hidden;

  color: $dark_blue;

  @media (min-width: $desktop-width) {
    color: $basic_white;

    .main-nav--sticky & {
      color: $dark_blue;
    }
  }

  &[href]:hover,
  &[href]:focus {
    color: $basic_yellow;
    outline: none;
  }

  &[href]:active {
    color: $basic_yellow;
    opacity: 0.3;
  }
}

.site-list__link-text {
  position: relative;
  display: inline-block;

  transition: transform 0.3s;

  &::before {
    position: absolute;
    top: 100%;

    content: attr(data-hover);

    transform: translate3d(0, 0, 0);
  }

  .site-list__link[href]:hover & {
    transform: translateY(-100%);
  }
}
