.socials__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  &:hover {
    fill-opacity: 0.6;
  }

  &:active {
    fill-opacity: 0.3;
  }

  &--accent {
    background-color: $basic_yellow;
    border-radius: 50%;
  }

  &--accent:hover,
  &--accent:focus {
    background-color: $special_yellow_dark;
    fill-opacity: 1;
  }

  &--accent:active {
    background-color: $special_yellow_dark;
    fill-opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;
  }

  & svg {
    fill: $dark_blue;
  }

  &--facebook svg {
    @media (min-width: $tablet-width) {
      width: 14px;
      height: 28px;
    }
  }

  &--vk svg {
    @media (min-width: $tablet-width) {
      width: 30px;
      height: 16px;
    }
  }

  &--instagram svg {
    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }
  }
}
