.transport-checkbox__input { // visually-hidden
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.transport-checkbox__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background-color: $basic_white;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }

  & svg {
    fill: $basic_blue;
    fill-opacity: 0.15;
  }
}
