.transport-checkbox__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background-color: $basic_white;
  border-radius: 50%;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }

  & svg {
    fill: $basic_blue;
    fill-opacity: 0.15;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 22px;
    }
  }

  .transport-checkbox__input:checked + & svg {
    fill-opacity: 1;
  }

  .transport-checkbox__input:checked + &:hover svg,
  .transport-checkbox__input:checked + &:focus svg {
    fill: $basic_blue;
    fill-opacity: 0.7;
  }

  .transport-checkbox__input + &:hover svg,
  .transport-checkbox__input + &:focus svg {
    fill: #b2b2b2;
    fill-opacity: 1;
  }

  .transport-checkbox__input:checked + &:active svg {
    fill-opacity: 0.3;
  }

  .transport-checkbox__input + &:active svg {
    fill-opacity: 0.1;
  }

  &:hover,
  .transport-checkbox__input:focus + & {
    filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
    outline: none;
  }

  .transport-checkbox--form &:active {
    background-color: #e2e5f1;
  }
}
