.transport {
  @include reset-list;
}

.transport__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  color: $basic_blue;

  border-radius: 50%;

  .transport--dark & {
    @media (max-width: $mobile-width-only) {
      background-color: $basic_blue_light;
    }
  }

  .transport--light & {
    background-color: $basic_white;
  }

  & svg {
    fill-opacity: 0.15;

    @media (min-width: $tablet-width) {
      width: 21px;
      height: 20px;
    }
  }

  &--active svg {
    fill-opacity: 1;
  }
}
