.transport {
  @include reset-list;
}

.transport__item {
  width: 32px;
  height: 32px;

  border-radius: 50%;

  &--dark {
    background-color: $basic_blue_light;
  }

  &--light {
    background-color: $basic_white;
  }
}
