.travelers {
  position: relative;
  z-index: 4;

  @include shift(-35px);
  @include rounded-bottom;

  background-color: $dark_blue;
  // background-image: url("../img/rogovaya-back-mobile@1x.png");
  // background-repeat: no-repeat;
  // background-size: 71px 71px;
  // background-position: -12px 345px;

  // @media (min-resolution: 2dppx) {
  //   background-image: url("../img/rogovaya-back-mobile@2x.png");
  // }

  @media (min-width: $tablet-width) {
    @include shift(-65px);

    // background-image: url("../img/rogovaya-back-desktop@1x.png");
    // background-size: 285px 285px;
    // background-position: calc(100% - 75px) 145px;

    // @media (min-resolution: 2dppx) {
    //   background-image: url("../img/rogovaya-back-desktop@2x.png");
    // }
  }

  @media (min-width: $desktop-width) {
    @include shift(-100px);
  }
}

.travelers__wrapper {
  position: relative;

  padding-top: 100px;
  padding-bottom: 30px;

  background-image:
    url("../img/smolov-back-desktop@1x.png"),
    url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 143px 143px, 71px 71px;
  background-position: calc(100% - 25px) 65px, -12px 345px;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/smolov-back-desktop@2x.png"),
      url("../img/rogovaya-back-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-top: 210px;
    padding-bottom: 85px;

    background-image:
      url("../img/smolov-back-desktop@1x.png"),
      url("../img/rogovaya-back-desktop@1x.png");
    background-size: 143px 143px, 285px 285px;
    background-position: 40px 495px, calc(100% - 75px) 145px;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/smolov-back-desktop@2x.png"),
        url("../img/rogovaya-back-desktop@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 230px;
    padding-bottom: 135px;

    @include desktop-grid;
    grid-template-rows: min-content min-content min-content;

    background-position: 490px 230px, 190px 485px;
  }

  &::before {
    position: absolute;
    top: 65px;
    left: -25px;

    content: "";
    width: 113px;
    height: 132px;

    background-color: #141b3b;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    @media (min-width: $tablet-width) {
      top: 140px;
      left: 40px;

      width: 212px;
      height: 212px;

      @include all-border;
    }

    @media (min-width: $desktop-width) {
      top: 170px;
      left: 60px;
    }
  }
}

.travelers__text-wrapper {
  position: relative;

  padding-left: 25px;

  @media (min-width: $tablet-width) {
    width: 430px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.travelers__title {
  @include reset-text;

  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.travelers__text {
  @include reset-text;

  width: 220px;

  @media (min-width: $tablet-width) {
    width: 430px;
  }

  &:first-of-type {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }
  }

  &:last-of-type {
    margin-bottom: 55px;

    @media (min-width: $tablet-width) {
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 85px;
    }
  }

  & br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }
}

.travelers__list {
  @include reset-list;

  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    grid-column: 3/5;
    grid-row: 1/-1;
    margin-bottom: 0;
  }
}

.travelers__item {
  @media (max-width: $mobile-width-only) {
    width: 270px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 285px;
  }

  &:first-child {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 10px;
    }
  }
}

.travelers__link {
  display: inline-flex;
  width: fill-available;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
    margin-right: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    box-sizing: border-box;
    margin-left: 70px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
