.traveler {
  position: relative;

  color: $special_grey;

  background-color: $basic_white;

  @include all-border;

  &:hover {
    filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.16));
  }
}

.traveler__avatar-wrapper {
  overflow: hidden;

  @include top-left;
  @include top-right;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 285px;
  }
}

.traveler__avatar {
  @include top-left;
  @include top-right;

  display: block;

  transition: transform 0.5s ease;

  .traveler:hover & {
    transform: scale(1.3);
  }
}

.traveler__info {
  position: relative;

  padding: 25px 30px 16px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 30px;
    padding-bottom: 25px;
  }
}

.traveler__countries {
  @include reset-list;

  position: absolute;
  top: -13px;
  left: 50%;
  z-index: 1;

  display: flex;

  transform: translateX(-50%);
}

.traveler__name-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    justify-content: start;
    padding-bottom: 23px;
    padding-left: 15px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.traveler__name {
  @include reset-text;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $basic_blue;

  @media (min-width: $tablet-width) {
    padding-left: 15px;

    font-size: 24px;
    line-height: 22px;
  }
}

.traveler__status {
  order: -1;
  position: relative;
  top: 8px;

  margin-right: 11px;
  margin-left: -15px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.traveler__tags {
  @include reset-text;

  margin-bottom: 12px;

  line-height: 18px;
  color: $special_grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 23px;
  }
}

.traveler__transport {
  display: flex;
  justify-content: center;
}

.traveler__level {
  @include reset-text;

  position: absolute;
  top: 20px;
  left: 17px;

  @media (min-width: $tablet-width) {
    top: 22px;
    left: 23px;
  }
}
