.traveler-card {
  position: relative;

  display: grid;
  grid-template-columns: 70px 1fr min-content;
  column-gap: 15px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  overflow: hidden;

  color: $special_grey;

  background-color: $basic_white;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 190px 1fr min-content;
    grid-template-rows: min-content min-content min-content min-content;
    column-gap: 30px;
    padding-top: 35px;
    padding-right: 25px;
    padding-bottom: 29px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 285px 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    column-gap: 60px;
    padding: 0;
    max-width: 951px;
  }
}

.traveler-card__profile-link {
  display: inline-flex;
  align-self: start;

  @media (min-width: $tablet-width) {
    .traveler-card > & {
      grid-row: 1/4;
    }

    .traveler-card__name-wrapper > & {
      min-width: 210px;
    }
  }
}

.traveler-card__avatar {
  display: block;
  width: 70px;
  height: 70px;

  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;

    @include all-border;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;

    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.traveler-card__name-wrapper {
  display: flex;
  grid-row: 1/2;
  grid-column: 2/4;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: start;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 4px;
    margin: 0;
  }
}

.traveler-card__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: $basic_blue;

  @include reset-text;

  @media (max-width: $mobile-width-only) {
    width: min-content;
  }

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  .traveler-card__profile-link:hover > & {
    opacity: 0.7;
  }

  .traveler-card__profile-link:active > & {
    opacity: 0.3;
  }
}

.traveler-card__status {
  grid-row: 1/2;
  grid-column: 3/-1;
  align-self: start;
  justify-self: end;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    position: relative;
    left: -25px;
    top: -2px;
    margin-right: -10px;
  }

  .traveler-card__profile-link:hover + & {
    opacity: 0.7;
  }

  .traveler-card__profile-link:active + & {
    opacity: 0.3;
  }
}

.traveler-card__tags {
  @include reset-text;

  grid-column: 1/4;
  margin-top: 13px;
  margin-bottom: 15px;
  padding-right: 25%;
  padding-left: 5px;

  font-size: 15px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-right: 20%;

    font-size: 20px;
    line-height: 23px;
    color: $basic_black;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    padding-right: 10%;
  }
}

.traveler-card__countries {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/-1;
    grid-row: 1/3;
    min-width: 160px;
  }
}

.traveler-card__countries-list {
  @include reset-list;

  margin-top: 21px;
  margin-bottom: 15px;
  padding-left: 5px;
  display: grid;
  row-gap: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    margin-top: 23px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-top: 50px;
  }

  .catalog__item:nth-child(2) &,
  .catalog__item:last-child & {
    @media (max-width: $mobile-width-only) {
      margin-top: 20px;
      margin-bottom: 18px;
    }
  }
}

.traveler-card__title {
  @include reset-text;
  padding-left: 5px;

  font-size: 15px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    .traveler-card__level &,
    .traveler-card__transport & {
      display: none;
    }

    .traveler-card__countries & {
      margin-top: 16px;
      padding-left: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  .traveler-card__level & {
    padding-left: 0;
  }

  &::before,
  &::after {
    position: relative;

    content: "";
    width: 50%;
    height: 1px;
    display: inline-block;

    vertical-align: middle;

    background-color: $basic_blue_light;
  }

  &::before {
    right: 0.5em;
    margin-left: -50%;
  }

  &::after {
    left: 0.5em;
    margin-right: -50%;
  }

  .traveler-card__countries &::after {
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 110%;
    }
  }

  .traveler-card__transport &::after {
    width: 100%;
  }
}

.traveler-card__title-text {
  position: relative;
  z-index: 1;

  background-color: $basic_white;
}

.traveler-card__transport {
  grid-column: 1/3;

  @media (min-width: $tablet-width) {
    grid-column: 3/-1;
    grid-row: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-row: 3/4;
    display: inline-flex;
    align-self: center;
  }
}

.traveler-card__transport-list {
  display: flex;
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-left: 0;
    margin-left: -10px;
  }
}

.traveler-card__level {
  position: relative;

  grid-column: 3/-1;
  padding-left: 15px;

  text-align: center;

  background-color: white;

  @media (min-width: $tablet-width) {
    grid-column: 3/-1;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    display: inline-flex;
    justify-self: end;
    margin-right: 45px;
    align-self: center;
  }
}

.traveler-card__level-number {
  position: relative;

  @include reset-text;

  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: -7px;
  }
}

.traveler-card__button-wrapper {
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: start;
    grid-column: 2/3;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-left: -5px;
  }
}

.traveler-card__link {
  grid-column: 1/-1;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    justify-self: start;
  }
}

.traveler-card__like {
  position: absolute;
  top: 55px;
  left: 70px;

  display: flex;
  align-items: center;
  column-gap: 5px;

  @media (min-width: $tablet-width) {
    position: static;

    display: inline-flex;
    grid-row: 3/4;
    grid-column: 2/3;
  }
}

.traveler-card__btn-like {
  width: 31px;
  height: 31px;

  background-color: $basic_blue_light;
  border: none;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &--active {
    background-color: #f9eaea;
  }

  &--active:hover,
  &--active:focus,
  &--active:active {
    background-color: $basic_red_light;
  }

  & svg {
    vertical-align: middle;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 17px;
    }
  }

  & .traveler-card__like-on {
    display: none;
  }

  &--active .traveler-card__like-on {
    display: inline;
    fill: $basic_red;
  }

  &--active .traveler-card__like-off {
    display: none;
  }

  & .traveler-card__like-off {
    fill: $dark_blue;
    fill-opacity: 0.3;
  }

  &:hover .traveler-card__like-off,
  &:focus .traveler-card__like-off {
    fill-opacity: 0.5;
  }

  &:active .traveler-card__like-off {
    fill-opacity: 0.1;
  }

  &:active .traveler-card__like-on {
    fill-opacity: 0.3;
  }
}

.traveler-card__like-counter {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $basic_dark_blue;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
