.user-wrapper {
  padding-top: 20px;
  padding-bottom: 35px; // sum up with shift padding later

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 65px;
    padding-left: 65px;
  }
}

.user__level {
  @include reset-text;
}

.user__img-wrapper {
  @include reset-text;
}

.user__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $basic_dark_blue;

  background-color: $special_blue_light;
  border-radius: 20px;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    letter-spacing: 0.09em;
  }

  &:hover {
    background-color: #d1d7e9;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3); // $basic_dark_blue, opacity: 0.3;

    background-color: $special_blue_light;
  }
}

.user__input {
  @include reset-fieldset;

  border: 1px solid #cbced9;
  border-radius: 10px;

  &:hover {
    border-color: #aeb4cb;
  }

  &:focus-within,
  &:active {
    border-color: $basic_dark_blue;
  }
}

.user__input-legend {
  @include reset-text;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $basic_blue;

  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    &--tags {
      letter-spacing: 0.1em;
      color: $basic_dark_blue;
    }

    &--transport {
      letter-spacing: 0.08em;
    }
  }

  @media (min-width: $desktop-width) {
    &--tags {
      letter-spacing: 0.07em;
    }

    &--transport {
      letter-spacing: 0.09em;
    }
  }
}

.user__tags {
  @include reset-text;

  font-family: "Blogger Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: $special_grey;

  background-color: transparent;
  opacity: 0.6;
  border: none;
  resize: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  &:focus,
  &:active {
    opacity: 1;
    outline: none;
  }

  &::placeholder {
    color: $special_grey;

    opacity: 0.6;
  }
}
