// reset default list settings
@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

// reset default heading and paragraph settings
@mixin reset-text {
  margin: 0;
  padding: 0;
}

// reset default button settings
@mixin reset-button {
  border: none;
}

// the grid layout on the desktop
@mixin desktop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 60px;
}
