// reset default list settings
@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

// reset default heading and paragraph settings
@mixin reset-text {
  margin: 0;
  padding: 0;
}

// reset default button settings
@mixin reset-button {
  padding: 0;

  font-family: "Blogger Sans", "Arial", sans-serif;
  font-style: normal;

  border: none;
}

// reset fieldset default settings
@mixin reset-fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

// the grid layout on the desktop
@mixin desktop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 60px;
}

// rounded corners
@mixin rounded-bottom {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
  }
}

@mixin rounded-top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
  }
}

@mixin all-border {
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }
}

@mixin top-left {
  border-top-left-radius: 10px;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 20px;
  }
}

@mixin top-right {
  border-top-right-radius: 10px;

  @media (min-width: $tablet-width) {
    border-top-right-radius: 20px;
  }
}

@mixin bottom-left {
  border-bottom-left-radius: 10px;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 20px;
  }
}

@mixin bottom-right {
  border-bottom-right-radius: 10px;

  @media (min-width: $tablet-width) {
    border-bottom-right-radius: 20px;
  }
}

// shift
@mixin shift($shift) {
  top: $shift;

  margin-bottom: $shift;
}

// form input border
@mixin form-input-border {
  border: 1px solid #cbced9;
  border-radius: 4px;
}
