// colors

$basic_black: #000000;

$basic_dark_blue: #161c35;
$basic_blue: #1d2e5b;
$dark_blue: #192144;
$contrast_blue: #121936;

$special_grey: #444444;

$basic_blue_light: #edeff6;
$special_blue_light: #dfe3f0;

$basic_red: #f02323;
$basic_red_light: #f9d8d8;
$special_red: #f47e7e;
$special_red_light: #ffefef;

$basic_yellow: #ffd74b;
$special_yellow_dark: #ffbd30;
$special_orange: #ff8d30;
$special_orange_dark: #f26926;

$basic_white: #ffffff;

// breakpoints

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
